body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
}


/* OVERRIDES */

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.bg-main {
    background-color: #AF0700;
}

.text-gray {
    color: #4F4F4F
}

.roboto {
    font-family: Roboto, sans-serif;
}

.roboto-10 {
    font: 10px normal Roboto, sans-serif;
}

.roboto-12 {
    font: 12px normal Roboto, sans-serif;
}

.roboto-14 {
    font: 14px normal Roboto, sans-serif;
}

.roboto-16 {
    font: 16px normal Roboto, sans-serif;
}


/* END OF OVERRIDES */

.main-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
}

.sidebar-collpased-menu {
    float: left;
    width: 50px;
    background-color: #222222;
    height: 100%;
}

.content {
    padding-left: 50px !important;
    height: 100%;
}