body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll !important; */
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


/* OVERRIDES */

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

button {
    outline: none !important;
}


/* END OF OVERRIDES */

.bg-main {
    background-color: #AF0700;
}

.h1-heading{
    font-weight: bold;
    font-size: 3rem;
}

.h3-heading{
    font: 24px bolder Roboto, sans-serif;
    font-weight: 700;
}

.text-accent {
    color: #828282;
}

.text-gray {
    color: #4F4F4F;
}

.text-white {
    color: #FFFFFF;
}

.text-red {
    color: #890F00;
}

.text-gold {
    color: #CE9300;
}

.roboto {
    font-family: Roboto, sans-serif;
}

.roboto-10 {
    font: 10px normal Roboto, sans-serif;
}

.roboto-12 {
    font: 12px normal Roboto, sans-serif;
}

.roboto-14 {
    font: 14px normal Roboto, sans-serif;
}

.roboto-16 {
    font: 16px normal Roboto, sans-serif;
}

.roboto-24 {
    font: 24px bolder Roboto, sans-serif;
}

.button {
    background-color: white;
    border: none;
    text-align: center;
    /* outline: none !important; */
}

.button-pale-red {
    height: 2rem;
    background-color: #F6DADA;
    border: 0.5px solid #890F00;
    color: #890F00;
    border-radius: 3px;
    text-align: center;
    padding: 0rem 1rem;
}

.button-red {
    height: 2rem;
    background-color: #890F00;
    border: 0.5px solid #890F00;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding: .25rem 1rem;
}

.button-red:hover {
    color: white;
}

.button-white {
    height: 2rem;
    background-color: white;
    border: 0.5px solid #890F00;
    color: #890F00;
    border-radius: 3px;
    text-align: center;
    padding: 0rem 1rem;
}

.main-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
}

.sidebar-collpased-menu {
    float: left;
    width: 50px;
    background-color: #222222;
    height: 100%;
    position: fixed;
}

.content {
    padding-left: 50px !important;
    /* height: 100%; */
    overflow: hidden;
}

.content+div:first-child {
    overflow-y: hidden;
}

.pointer-cursor-on-hover:hover {
    cursor: pointer;
}

.table-border {
    border: 1px solid #ECECEC !important;
}

.sheets-navpills-header {
    background-color: #222222;
}

.input-width {
    width: 10rem !important;
    border: 1px gray solid;
    border-radius: 4px;
}

.button-disable {
    background-color: gray !important;
    border: 1px gray solid !important;
    cursor: not-allowed;
}

.clickable-list button {
    width: 100% !important;
    height: 2rem !important;
    background-color: white;
    border: none;
    color: black;
}

.delivery-section .clickable-list button:not(.clickable-list button:first-child) {
    height: 3rem !important;
}


/* 
.clickable-list button:active {
    background-color: #AF0700;
}

.clickable-list button:active:after {
    background-color: #AF0700;
} */