/* Components */
.text-gray {
    color: #4F4F4F
}

.landing-page {
    padding: 3rem;
}

.landing-page > h2 {
    font-weight: bolder;
}

.landing-page-createnew {
    float: left;
    width: 60%;
}

.landing-page-cards {
    /* width: 60%; */
}

.landing-page-card {
    height: 8rem;
    width: 6rem;
    background-color: white;
    border: 0.5px solid #DCDCDC;
    box-shadow: 0px 4px 10px -5px #000000;
    padding-top: 1.5rem;
}

.landing-page-repository {
    height: 80%;
    width: 30%;
    float: right;
    padding: 3rem;
    background-color: #EDEDED;

}