.repository-menu {
    width: 15%;
    background-color: #EFEFEF;
    padding: 1rem;
    margin: 1rem;
    float: left;
}

.repository-menu-title {
    font-weight: bolder;
}

.repository-menu button {
    height: 1.1rem;
    /* max-width: 100%; */
    background-color: #EFEFEF;
    border: none;
    margin-top: 1rem;
    text-align: left;
    margin-left: 1rem;
    cursor: default;
}

.repository-menu button:focus,
.repository-menu button:active {
    border: none
}

.repository-menu a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.repository-content {
    position: relative;
    width: 80%;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
}


/* AREA */

.repo-title {
    font-weight: bolder;
}

.repository-content hr {
    border-top: 0.5px grey solid;
}

.repository-content a {
    cursor: pointer;
}

.repository content form button {
    background-image: url('../img/repository-icons/add.png');
}

.area-edit-input{
    border: none;
    word-wrap: break-word;
    width: fit-content;
}
/* USER */

.repository-user-grouptab-name-row {
    width: 20% !important;
}

.repository-user-add-button {
    height: 2rem;
    background-color: #F6DADA;
    border: 0.5px solid #890F00;
    color: #890F00;
    border-radius: 3px;
    text-align: center;
    margin-left: 1rem;
}


/* MODAL_CREATEUSER */

.modal-header {
    background-color: #AF0700;
}


/* BRANCH */

.repo-edit-quota-button span {
    color: #CE9300;
    text-decoration-line: underline;
    vertical-align: middle;
}

.repo-edit-quota-button {
    display: none;
}


/* UOM */

.uom-unit-input {
    width: 7rem;
}

.uom-table-td {
    width: 7rem;
}


/* MODAL_ADDPRODUCT */

.repo-sapcode-input {
    position: absolute;
    width: 25.5rem;
}


/* MODAL_UPDATECONVERSION */

.repo-modal-updateconversion-table {
    -webkit-box-shadow: 0px 3px 11px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 11px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 11px -7px rgba(0, 0, 0, 0.75);
}