.repository-menu {
    width: 15%;
    background-color: #EFEFEF;
    padding: 1rem;
    margin: 1rem;
    float: left;
}

.repository-menu-title {
    font-weight: bolder;
}

.repository-menu button {
    height: 1rem;
    width: 100%;
    background-color: #EDEDED;
    border: none;
    margin-top: 1rem;
    text-align: left;
    margin-left: 1rem;
}

.repository-menu a {
    text-decoration: none;
    color: black;
}

.repository-content {
    position: relative;
    width: 80%;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
}


/* AREA */

.repo-title {
    font-weight: bolder;
}

.repository-content hr {
    border-top: 0.5px grey solid;
}

.repository-content a {
    cursor: pointer;
}

.repository content form button {
    background-image: url('../img/repository-icons/add.png');
}


/* USER */

.repository-user-grouptab-name-row {
    width: 20% !important;
}

.repository-user-add-button {
    height: 2rem;
    background-color: #F6DADA;
    bottom: ;
    border: 0.5px solid #890F00;
    color: #890F00;
    border-radius: 3px;
    text-align: center;
    margin-left: 1rem;
}


/* MODAL_CREATEUSER */

.modal-header {
    background-color: #AF0700;
}