/* overrides */

.sheets-navpills-header li:not(.sheets-navpills-header li:first-child) {
    width: 10% !important;
    text-align: center;
}

.sheets-navpills-header li a {
    border-radius: 0% !important;
    color: white !important;
}

.nav-pills .nav-link.active {
    color: #222222 !important;
    background-color: white !important;
}

.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #222222 !important;
}


/* end of overrides */

.sheets-navpills-header {
    background-color: #222222;
}

.sheets-content {
    padding:
}


/* MODAL_ADDNEWDELIVERY */

.sheets-addnewdelivery-modal-header {
    background-color: white;
}

.sheets-select {
    width: 15%;
}

.sheets-addnewdelivery-description-input {
    width: 20rem !important;
}

.sheets-addnewdelivery-description-input-siblings {
    width: 5rem !important;
}


/* DELIVERY */

.delivery-section {
    width: 100%;
    position: relative;
}

.delivery-list {
    height: 100%;
    width: 20%;
    background-color: firebrick;
}

.delivery-content {
    width: 80%;
    float: right;
}