/* overrides */

.sheets-navpills-header li:not(.sheets-navpills-header li:first-child) {
    width: 10% !important;
    text-align: center;
}

.sheets-navpills-header li a {
    border-radius: 0% !important;
    color: white !important;
}

.nav-pills .nav-link.active {
    color: #222222 !important;
    background-color: white !important;
}

.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #222222 !important;
}


/* end of overrides */

.sheets-navpills-header {
    background-color: #222222;
}


/* MODAL_ADDNEWDELIVERY */

.sheets-addnewdelivery-modal-header {
    background-color: white;
}

.sheets-select {
    width: 15%;
}

.sheets-addnewdelivery-description-input {
    width: 20rem !important;
}

.sheets-addnewdelivery-description-input-siblings {
    width: 5rem !important;
}


/* DELIVERY */

.delivery-section,
.transfer-section,
.damagereturn-section,
.invoice-section {
    width: 100%;
    height: 100%;
}

.delivery-list,
.transfer-list,
.damagereturn-list {
    height: 100%;
    width: 20%;
    /* box-shadow: gray; */
}

.delivery-content,
.transfer-content,
.damagereturn-content {
    width: 80%;
    float: right;
}

.delivery-content .modal-content,
.transfer-content .modal-content,
.damagereturn-content .modal-content {
    border: none;
}

.delivery-list-card,
.transfer-list-card,
.damagereturn-list-card {
    border-bottom: 0.5px solid black;
}


/* INVOICE */


/* .invoice-section {
    overflow-y: scroll !important;
} */

.invoice-section-body {
    height: 80%;
    width: 100%;
}

.isb-left,
.isb-right {
    height: 100% !important;
    width: 47%;
}

.isb-left-table {
    height: 75% !important;
    overflow-y: auto !important;
}

.invoice-remove-button img {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.isb-right-pax {
    width: 3rem;
    height: 2rem;
}

.isb-right-table-label {
    background-image: linear-gradient(white, #F8F7F7);
}