.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px;
    margin-top: 65px;
    color: white;
    /* z-index: 1000; */
}

.sidebar .closebtn {
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.sidebar hr {
    color: white;
    border-top: 1px solid white !important;
    margin-top: .5rem !important;
}

.sidebar .roboto-16 a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    color: #AF0700;
}

.sidebar-dropdown-button {
    cursor: pointer;
}

.sidebar-dropdown-container {
    /* display: none; */
    padding-left: 2rem;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #222222;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none !important;
}

.openbtn:hover {
    background-color: #444;
}

.sidebar-file-title,
.sidebar-edit-title,
.sidebar-footer {
    color: gray;
}

.sidebar-file>div,
.sidebar-edit>div {
    margin-top: 1rem;
}

.sidebar-dropdown-container>div {
    margin-bottom: .5rem;
}

.sidebar-footer {
    position: absolute;
    bottom: 5rem;
}