.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px;
    margin-top: 65px;
    color: white;
}

.sidebar a:hover {
    color: #da1818;
}

.sidebar .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 40px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.sidebar-dropdown-button {
    cursor: pointer;
}

.sidebar-dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.active {
    background-color: green;
    color: white;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #222222;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.sidebar hr {
    color: white;
    border-top: 1px solid white !important;
    margin-top: .1rem !important;
}