{% extends 'base.html' %}

{% block content %}
    <div class="invoice-section p-3">
        <div class="invoice-section-header pl-5 pb-3 d-flex border-bottom">
            <select class="ish-select text-red font-weight-bold roboto border-0" name="" id="">
                <option selected class="text-red font-weight-bold roboto">DIVERSION</option>
                <option class="text-red font-weight-bold">TEST</option>
                <option class="text-red font-weight-bold">TEST</option>
                <option class="text-red font-weight-bold">TEST</option>
            </select>
            <div class="text-red ml-5 btn">Select Sales & Shift</div>
            <button class="button-pale-red ml-5 mr-1 font-weight-bold">
                    BUTTON
            </button>
            <button class="button-pale-red font-weight-bold">
                    BUTTON
            </button>
        </div>
        <div class="invoice-section-body d-flex px-5 p-3">
            <div class="isb-left">
                <div class="isb-left-header d-flex">
                    <div class="roboto">Invoice Number</div>
                    <div class="font-weight-bold roboto ml-auto">0334582</div>
                </div>
                <div class="isb-left-search d-flex">
                    <input class="pl-3 mt-3 w-100" type="text" placeholder="Enter keyword to search item">
                    <button type="submit" class="mt-auto ml-2 button">
                        <img src="../../static/img/sheets-icons/add.png" />
                    </button>
                </div>
                <div class="isb-left-table mt-3">
                    <table class="table table-borderless table-sm" height=100>
                        <thead class="table-active">
                            <tr>
                                <th>QTY</th>
                                <th>ITEM</th>
                                <th>UNIT PRICE</th>
                                <th>TOTAL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Del Monte 202 Orange</td>
                                <td>28.00</td>
                                <td>326.00</td>
                        
                                <td>
                                    <button type="submit" class="mt-auto ml-2 button invoice-remove-button">
                                        <img src="../../static/img/sheets-icons/add.png"/>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="isb-left-footer d-flex px-3 pt-3">
                     <div class="roboto">Total</div>
                    <div class="font-weight-bold roboto ml-auto">1,680.00</div>
                </div>
            </div>
            <div class="isb-right bg-warning">
            </div>
        </div>
    </div>
{% endblock content %}