{% extends 'base.html' %}

{% block content %}
    <div class="pettycash-section d-flex">
        <div class="pettycash-list text-center p-2">
            <input class="pl-2 w-100" type="text" placeholder="🔍 Search">
            <hr/>
            <button class="button-pale-red w-100"> <img src="../../static/img/repository-icons/plus.png" /> ADD NEW DELIVERY</button>
            <div class="pettycash-list-card py-2">
                <div class="plc-header d-flex">
                    <div class="plc-date font-weight-bold">October 24, 2019</div>
                    <div class="plc-doc-number font-weight-bold ml-auto">75648</div>
                </div>
                <div class="plc-content roboto-12 text-left">
                    From Commissary to City Mall Tagbak
                </div>
            </div>
            <div class="pettycash-list-card py-2">
                <div class="plc-header d-flex">
                    <div class="plc-date font-weight-bold">October 24, 2019</div>
                    <div class="plc-doc-number font-weight-bold ml-auto">75648</div>
                </div>
                <div class="plc-content roboto-12 text-left">
                    From Commissary to City Mall Tagbak
                </div>
            </div>
            <div class="pettycash-list-card py-2">
                <div class="plc-header d-flex">
                    <div class="plc-date font-weight-bold">October 24, 2019</div>
                    <div class="plc-doc-number font-weight-bold ml-auto">75648</div>
                </div>
                <div class="plc-content roboto-12 text-left">
                    From Commissary to City Mall Tagbak
                </div>
            </div>
        </div>
        <div class="pettycash-content p-3">
            <div class="modal-content">
                <div class="modal-header bg-white">
                    <h5 class="modal-title roboto-24 " id="modal_addnewdelivery">NEW PETTY CASH</h5>
                    <div>
                        <button class="button-white"  data-dismiss="modal">CANCEL</button>
                        <button class="button-red">SAVE</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="form-group sheets-select  w-25">
                            <label for="preparedby">Prepared By: </label>
                            <select class="form-control form-control-sm" name="preparedby" id="preparedby">
                                <option selected disabled></option>
                                <option>Test</option>
                                <option>Test</option>
                                <option>Test</option>
                            </select>
                        </div>
                        <div class="form-group mx-1">
                            <label for="referencenumber">Reference Number</label>
                            <input type="text"
                                class="form-control form-control-sm" name="referencenumber" id="referencenumber">
                        </div>
                        <div class="form-group mx-1">
                            <label for="date">Date</label>
                            <input type="date"
                                class="form-control form-control-sm" name="date" id="date">
                        </div>
                        <div class="form-group mx-1">
                            <label for="amount">Amount</label>
                            <input type="text"
                                class="form-control form-control-sm" name="amount" id="amount">
                        </div>
                    </div>

                </div>
                <div class="d-flex p-3">
                    {% comment %} <div class="pull-left"> {% endcomment %}
                        <div class="form-group mx-1 pettycash-input">
                            <label for="description">DESCRIPTION</label>
                            <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input" name="description" id="description" placeholder="Enter Description and Quantity">
                        </div>
                        <div class="form-group mx-1">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="amount" id="amount">
                        </div>
                        <button type="submit" class="btn h-50 mt-4">
                                <img src="../../static/img/sheets-icons/add.png" />
                        </button>
                    {% comment %} </div> {% endcomment %}
                </div>
                <table class="table table-border  table-sm w-50 m-3">
                    <tbody>
                        <tr>
                            <td contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                            <td contenteditable="false">5.00</td>
                        </tr>
                        <tr>
                            <td contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                            <td contenteditable="false">5.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}