{% extends 'sheets_templates/sheets.html' %}

{% block sheets-content %}

    <div class="d-flex justify-content-between mb-3">
        <select class="roboto-16 mt-2 ml-3 text-gray border-0 pointer-cursor-on-hover">
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
        </select>
        <div class="">
            <button type="button" class="button-pale-red" data-toggle="modal" data-target="#modal_addnewdelivery">
                <img src="../../static/img/repository-icons/plus.png" class="">
                Add New
            </button>
            <div class="modal fade close-all-modal" id="modal_addnewdelivery" tabindex="-1" role="dialog" aria-labelledby="modal_addnewdeliverylabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">    
                    {% include '../modals/modal_addnewdelivery.html' %}
                </div>
            </div>
            <button type="button" class="button-white" data-toggle="modal" data-target="#modal_mapdelivery">
                MAP
            </button>
            <div class="modal fade close-all-modal" id="modal_mapdelivery" tabindex="-1" role="dialog" aria-labelledby="modal_mapdeliverylabel" aria-hidden="true">
                <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
                    {% include '../modals/modal_mapdelivery.html' %}
                </div>
            </div>
            <button type="button" class="button-white">
                SAVE
            </button>
        </div>
    </div>
    <div class="d-flex pt-3 mb-5">
        {% comment %} <div class="d-flex flex-column w-75"> {% endcomment %}
            <table class="delivery-table-documents table table-border table-hover table-sm mr-2">
                <thead class="table-active">
                    <tr>
                        <th>DOC NUMBER</th>
                        <th>DATE</th>
                        <th>SHEET NUMBER</th>
                        <th>BRANCH TO</th>
                        <th>COMMENTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer-cursor-on-hover" data-toggle="modal" data-id="1" data-target="#modal_unmapdelivery">
                        <td scope="row" contenteditable="false">54540</td>
                        <td contenteditable="false">October 29, 2019</td>
                        <td contenteditable="false">453565</td>
                        <td contenteditable="false">Commissary</td>
                        <td contenteditable="false">for delivery</td>
                    </tr>
                </tbody>
            </table>
            {% comment %} <table class="delivery-table-documents-content table table-border table-hover table-sm mr-2 ">
                <thead class="table-active">
                    <tr>
                        <th>ITEM</th>
                        <th>QUANTITY</th>
                        <th>UNIT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="modal" >
                        <td scope="row" contenteditable="false">Cheddar Cheese 20g</td>
                        <td contenteditable="false">12</td>
                        <td contenteditable="false">pack</td>
                    </tr>
                </tbody>
            </table> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <div class="d-flex flex-column w-50 ml-4">
            <label for="table-all" class="roboto font-weight-bold">ALL DELIVERIES</label>
            <table id="table-all" class="table table-border table-sm ">
                <thead class="table-active">
                    <tr>
                        <th>ITEM</th>
                        <th>QUANTITY</th>
                        <th>UNIT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" contenteditable="false">Cheddar Cheese 20g</td>
                        <td contenteditable="false">12</td>
                        <td contenteditable="false">pack</td>
                    </tr>
                </tbody>
            </table>

            
        </div>
        <div id="modal_unmapdelivery" class="modal hide fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">    
                {% include '../modals/modal_unmapdelivery.html' %}
            </div>
        </div>


    </div>
{% endblock sheets-content %}