{% extends 'sheets_templates/sheets.html' %}

{% block sheets-content %}
    <div class="d-flex justify-content-between mb-3">
        <select class="pointer-cursor-on-hover roboto-16 mt-2 ml-3 text-gray border-0">
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
            <option> City Mall Tagbak - 09398 <span class="font-weight-bolder">[October 30, 2019]</span></option>
        </select>
        <div class="">
            <select class="" name="rawmats" id="rawmats">
                <option selected disabled>Rawmats</option>
                <option>Test</option>
                <option>Test</option>
                <option>Test</option>
            </select>
            <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_editnewsheet">
                <img src="../../static/img/sheets-icons/edit.png" class="">
                EDIT
            </button>
            <div class="modal fade close-all-modal" id="modal_editnewsheet" tabindex="-1" role="dialog" aria-labelledby="modal_editnewsheetlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">    
                    {% include '../modals/modal_editnewsheet.html' %}
                </div>
            </div>
            <button type="button" class="repository-user-add-button">
                <img src="../../static/img/sheets-icons/save.png" class="mr-1">
                SAVE
            </button>
        </div>
    </div>
    <table class="inventory-table table table-borderless table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>Items</th>
                <th>Starting</th>
                <th>Start (W)</th>
                <th>Start (F)</th>
                <th>Delivery</th>
                <th>Transfer</th>
                <th>Return</th>
                <th>Ending</th>
                <th>Ending (W)</th>
                <th>Ending (F)</th>
                <th>Process Out (Pcs)</th>
                <th>Adjustment</th>
            </tr>
        </thead>
        <tbody>
            <td class="font-weight-bold mt-3">Rice</td>
            <tr>
                <td scope="row" contenteditable="false">Repack - Rice 5kg </td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Repack - Rice 5kg </td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Repack - Rice 5kg </td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
            </tr>
        </tbody>
    </table>
{% endblock sheets-content %}