{% extends 'sheets_templates/sheets.html' %}

{% block sheets-content %}

    <div class="user-head d-flex justify-content-between mb-3">
        <div class="repo-title roboto-14 text-gray p-3">City Mall Tagbak - 09398 <em>[October 30, 2019]</em></div>
        <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_createuser">
            <img src="../../static/img/repository-icons/plus.png" class="">
            Edit
        </button>
        <div class="modal fade" id="modal_createuser" tabindex="-1" role="dialog" aria-labelledby="modal_createuserlabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">    
                {% include '../modals/modal_createuser.html' %}
            </div>
        </div>
    </div>
    <table class="table table-borderless  table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>Products</th>
                <th>Starting</th>
                <th>Delivery</th>
                <th>Transfer</th>
                <th>Damage</th>
                <th>End Whole</th>
                <th>End Fraction</th>
                <th>End Total</th>
                <th>Adjustments</th>
                <th>Process Out<br/> Usage</th>
                <th>Process Out<br/> Standard</th>
                <th>Variance Qty</th>
                <th>Variancce Amt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">Repack - Rice 5kg </td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
                <td contenteditable="false">0.000000</td>
            </tr>
        </tbody>
    </table>
{% endblock sheets-content %}