{% extends 'base.html' %}
  
{% block content %}
    <div class="reports-sales">
        <div class="d-flex pt-4 px-5"> 
            <div class="flex-grow-1 roboto-24"><span class="font-weight-bold">Atrium</span> [SALES REPORT] </div>
            <button class="button-pale-red mr-2"><img src="../../static/img/sheets-icons/print.png" class="mr-1">  PRINT</button>
            <button class="button-pale-red mr-5"><img src="../../static/img/sheets-icons/exportreport.png" class="mr-1 mb-1">  EXPORT REPORT</button>
        </div>
        <div class="rs-filter d-flex px-5 mt-3 roboto-12">
            <label for="rs-filter-from" class="my-auto mr-2">From</label>
            <input name="rs-filter-from" class="sheets-select h-50 my-auto" type="date">
            
            <label for="rs-filter-to" class="my-auto mr-2 ml-3">To</label>
            <input name="rs-filter-to" class="sheets-select h-50 my-auto" type="date">
            
            <button class="btn">
                <img src="../../static/img/sheets-icons/rpmfiltersubmit.png" role="button">
            </button>
        </div>
        <div class="rs-table-div mt-3">
            <table class="pl-5 rs-table">
                <thead class="mb-3 text-secondary rs-thead ">
                    <th>PRODUCTS</th>
                    <th>QTY</th>
                    <th>UNIT PRICE</th>
                    <th>AMOUNT</th>
                    <th>PERCENTAGE</th>
                </thead>
                <tbody class="rs-tbody mt-2">
                    <tr class="font-weight-bold">
                        <td>Beverages</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                    <tr>
                        <td>Nature Spring 500ml</td>
                        <td>22</td>
                        <td>10.00</td>
                        <td>50.0000</td>
                        <td>0.98</td>
                    </tr>
                </tbody>
                <tfoot class="rs-tfoot ">
                    <tr class="align-top font-weight-bold">
                        <td >
                            <span class="d-flex"><span>Breakdown of Total: </span><span class="ml-auto">Total: </span></span>
                            <span class="font-weight-normal"><span>Waffles: 0 | P0.00</span> <span class="ml-5">Beverages 0 | P0.00 </span></span>
                        </td> 
                        <td>66</td>
                        <td></td>
                        <td class="text-gold">5.220.0000</td> 
                        <td>100.00</td> 
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
{% endblock content %}