{% extends 'base.html' %}

{% block content %}
    <div class="reports-productmix">
        <div class="d-flex pt-4 px-5"> 
            <div class="flex-grow-1 roboto-24"><span class="font-weight-bold">Atrium</span> [PRODUCT MIX REPORT] </div>
            <button class="button-pale-red mr-2"><img src="../../static/img/sheets-icons/print.png" class="mr-1">  PRINT</button>
            <button class="button-pale-red mr-5"><img src="../../static/img/sheets-icons/exportreport.png" class="mr-1 mb-1">  EXPORT REPORT</button>
        </div>
        <div class="rpm-filter d-flex px-5 mt-3 roboto-12">
            <label for="rpm-filter-from" class="my-auto mr-2">From</label>
            <select class="sheets-select h-50 my-auto" name="rpm-filter-from" id="rpm-filter-from">
                <option>09371 [October 1, 2019]</option>
                <option>09371 [October 1, 2019]</option>
                <option>09371 [October 1, 2019]</option>
            </select>
            <label for="rpm-filter-to" class="my-auto mr-2 ml-3">To</label>
            <select class="sheets-select h-50 my-auto" name="rpm-filter-to" id="rpm-filter-to">
                <option>09371 [October 1, 2019]</option>
                <option>09371 [October 1, 2019]</option>
                <option>09371 [October 1, 2019]</option>
            </select>
            <button class="btn">
                <img src="../../static/img/sheets-icons/rpmfiltersubmit.png" role="button">
            </button>
        </div>
        <table class="pl-5 mt-3 rpm-table">
            <thead class="mb-3 text-secondary rpm-thead ">
                <th>PRODUCTS</th>
                <th>QTY</th>
                <th>UNIT PRICE</th>
                <th>AMOUNT</th>
                <th>PERCENTAGE</th>
            </thead>
            <tbody class="rpm-tbody mt-2">
                <tr class="font-weight-bold">
                    <td>Beverages</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
                <tr>
                    <td>Nature Spring 500ml</td>
                    <td>22</td>
                    <td>10.00</td>
                    <td>50.0000</td>
                    <td>0.98</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Breakdown of Total:</td> 
                    <td>Total:</td> 
                    <td>66</td> 
                    <td></td> 
                    <td>5.220.0000</td> 
                    <td>100.00</td> 
                </tr>
                <td>Wafles: 0 | P0.00    Beverages 0 | P0.00</td>
            </tfoot>
        </table>


    </div>
{% endblock content %}