{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-pills mb-2 sheets-navpills-header" id="pills-tab" role="tablist">
        <input type="image" class="sheets-lock p-3" src="../../static/img/sheets-icons/unlock.png" onload="toggleSheetLock()"/>
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-inventory-tab" href="{% url 'sheets:inventory_view' %}" role="tab" aria-controls="pills-inventory" aria-selected="false">Inventory</a>
        </li>
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-cashandcrew-tab"  role="tab" aria-controls="pills-cashandcrew" aria-selected="false">Cash & Crew</a>
        </li>
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-delivery-tab" href="{% url 'sheets:delivery_view' %}" role="tab" aria-controls="pills-delivery" aria-selected="false">Delivery</a>
        </li>
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-transfer-tab" href="{% url 'sheets:transfer_view' %}" role="tab" aria-controls="pills-transfer" aria-selected="false">Transfer</a>
        </li>
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-damage-tab" href="{% url 'sheets:damage_view' %}" role="tab" aria-controls="pills-damage" aria-selected="false">Damage</a>
        </li>
        {% comment %} <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-sold-tab" href="{% url 'sheets:sold_view' %}" role="tab" aria-controls="pills-sold" aria-selected="false">Sold</a>
        </li> {% endcomment %}
        <li class="nav-item sheets-nav-item" role="presentation">
            <a class="nav-link sheets-nav-link" id="pills-pettycash-tab" href="{% url 'sheets:pettycash_view' %}" role="tab" aria-controls="pills-pettycash" aria-selected="false">Petty Cash</a>
        </li>
        <li class="nav-item sheets-nav-item sheets-dropdown dropdown show" role="presentation">
            <a class="nav-link sheets-nav-link sheets-dropdown-button dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reports 
            </a>
            <div class="sheets-dropdown-container dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="sheets-dropdown-item dropdown-item roboto-12" href="{% url 'sheets:reports_productmix_view' %}">Product Mix</a>
                <a class="sheets-dropdown-item dropdown-item roboto-12" href="{% url 'sheets:reports_sales_view' %}">Sales Report</a>
                <a class="sheets-dropdown-item dropdown-item roboto-12" href="#">Crew Shortages</a>
                <a class="sheets-dropdown-item dropdown-item roboto-12" href="#">Crew Incentives</a>
                <a class="sheets-dropdown-item dropdown-item roboto-12" href="#">FOM Incentives</a>
            </div>
        </li>
    </ul>
    <div class="tab-content p-2" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills" role="tabpanel" aria-labelledby="pills-tab">
            {% block sheets-content %}
            {% endblock sheets-content %}
        </div>
    </div>
{% endblock content %}