{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-pills mb-2 sheets-navpills-header" id="pills-tab" role="tablist">
        <li class="nav-item mx-3 pt-2" role="presentation">
            {% comment %} <a class="nav-link active" id="pills-lock-tab" data-toggle="pill" href="" role="tab" aria-controls="pills-lock" aria-selected="true"></a> {% endcomment %}
            <img src="../../static/img/sheets-icons/unlock.png"/>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-inventory-tab" data-toggle="pill" href="{% url 'sheets:inventory_view' %}" role="tab" aria-controls="pills-inventory" aria-selected="false">Inventory</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-delivery-tab" data-toggle="pill" href="{% url 'sheets:delivery_view' %}" role="tab" aria-controls="pills-delivery" aria-selected="false">Delivery</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-transfer-tab" data-toggle="pill" href="#pills-transfer" role="tab" aria-controls="pills-transfer" aria-selected="false">Transfer</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-damage-tab" data-toggle="pill" href="#pills-damage" role="tab" aria-controls="pills-damage" aria-selected="false">Damage</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-sold-tab" data-toggle="pill" href="#pills-sold" role="tab" aria-controls="pills-sold" aria-selected="false">Sold</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-pettycash-tab" data-toggle="pill" href="#pills-pettycash" role="tab" aria-controls="pills-pettycash" aria-selected="false">Petty Cash</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-reports-tab" data-toggle="pill" href="#pills-reports" role="tab" aria-controls="pills-reports" aria-selected="false">Reports</a>
        </li>
    </ul>
    <div class="tab-content p-2" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills" role="tabpanel" aria-labelledby="pills-tab">
                {% block sheets-content %}
                {% endblock sheets-content %}
            </div>
        {% comment %} <div class="tab-pane fade show active" id="pills-inventory" role="tabpanel" aria-labelledby="pills-inventory-tab">{% block sheets-inventory %}yellow{% endblock sheets-inventory %}</div>
        <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">delivery</div>
        <div class="tab-pane fade" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">transfer</div>
        <div class="tab-pane fade" id="pills-damage" role="tabpanel" aria-labelledby="pills-damage-tab">damage</div>
        <div class="tab-pane fade" id="pills-sold" role="tabpanel" aria-labelledby="pills-sold-tab">sold</div>
        <div class="tab-pane fade" id="pills-pettycash" role="tabpanel" aria-labelledby="pills-pettycash-tab">pettycash</div>
        <div class="tab-pane fade" id="pills-reports" role="tabpanel" aria-labelledby="pills-reports-tab">reports</div> {% endcomment %}
    </div>
{% endblock content %}