<div class="modal-content">
    <div class="modal-header sheets-addnewdelivery-modal-header">
        <h5 class="modal-title roboto-24 " id="modal_addnewdelivery">NEW TRANSFER</h5>
        <div>
            <button class="button-white"  data-dismiss="modal">CANCEL</button>
            <button class="button-red">SAVE</button>
        </div>
    </div>
    <div class="modal-body d-flex">
        <div class="flex-grow-1">
            <div class="d-flex">
                <div class="form-group mx-1 w-25">
                    <label for="documentnumber">ITF Number</label>
                    <input type="text"
                        class="form-control form-control-sm" name="documentnumber" id="documentnumber">
                </div>
                <div class="form-group mx-1 w-25">
                    <label for="date">Date</label>
                    <input type="date"
                        class="form-control form-control-sm" name="date" id="date">
                </div>
                <div class="form-group sheets-select mx-1 w-25">
                    <label for="deliveredby">Delivered By</label>
                    <select class="form-control form-control-sm" name="deliveredby" id="deliveredby">
                        <option selected disabled></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </div>
            </div>
            <div class="d-flex">
                <div class="form-group sheets-select mx-1 w-25">
                    <label class="d-block">FROM<br/></label>
                    <label for="crew">Crew</label>
                    <select class="form-control form-control-sm" name="crew" id="crew">
                        <option selected disabled></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </div>
                <div class="form-group sheets-select mx-1 w-25">
                    <label class="d-block"><br/></label>
                    <label for="branchfrom">Branch From</label>
                    <select class="form-control form-control-sm" name="branchfrom" id="branchfrom">
                        <option selected disabled></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </div>
                <div class="form-group sheets-select mx-1 w-25">
                    <label class="d-block">TO</label>
                    <label for="crew2">Crew</label>
                    <select class="form-control form-control-sm" name="crew2" id="crew2">
                        <option selected disabled></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </div>
                <div class="form-group sheets-select mx-1 w-25">
                    <label class="d-block"><br/></label>
                    <label for="branchfrom2">Branch From</label>
                    <select class="form-control form-control-sm" name="branchfrom2" id="branchfrom2">
                        <option selected disabled></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label class="form-check-label text-weight-bold" for="form-check-radio">Reason for Stock Transfer (Please Select One)</label>
            <div class="form-check form-check-radio">
                <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
                <label class="form-check-label" for="materialUnchecked">Shortage of Supply</label>
            </div>
            <div class="form-check form-check-radio">
                <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
                <label class="form-check-label" for="materialUnchecked">Others (Please Specify)</label>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="d-flex p-3">
        {% comment %} <div class="pull-left"> {% endcomment %}
            <div class="form-group mx-1">
                <label for="description">DESCRIPTION</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input" name="description" id="description" placeholder="Enter keyword to search item">
            </div>
            <div class="form-group mx-1">
                <label for="sapqty">SAP QTY</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="sapqty" id="sapqty">
            </div>
            <div class="form-group mx-1">
                <label for="qty">QTY</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="qty" id="qty">
            </div>
            <div class="form-group mx-1">
                <label for="unit">UNIT</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="unit" id="unit">
            </div>
            <button type="submit" class="btn h-50 mt-4">
                    <img src="../../static/img/sheets-icons/add.png" />
            </button>
        {% comment %} </div> {% endcomment %}
    </div>
    <table class="table table-borderless  table-sm w-50 m-3">
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                <td contenteditable="false">5.00</td>
                <td contenteditable="false">5</td>
                <td contenteditable="false">piece</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                <td contenteditable="false">5.00</td>
                <td contenteditable="false">5</td>
                <td contenteditable="false">piece</td>
            </tr>
        </tbody>
    </table>
</div>