<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title roboto-16 text-white mx-auto" id="modal_createusertitle">ADD PRODUCTS ITEM</h5>
    </div>
    <div class="modal-body d-flex justify-content-around">
        <div>
            <div class="form-group">
                <label for="item">Item</label>
                <input type="text"
                    class="form-control form-control-sm" name="item" id="item">
            </div>
            <div class="form-group">
              <label for="unit">Unit</label>
              <select class="form-control form-control-sm" name="unit" id="unit">
                <option selected disabled></option>
                <option>bottle</option>
                <option>Test</option>
                <option>Test</option>
              </select>
            </div>
            <div class="form-group ">
                <label for="sapcode">SAP Code</label>
                <input type="text"
                    class="form-control form-control-sm repo-sapcode-input" name="sapcode" id="sapcode">
            </div>
        </div>
        <div>
            <div class="form-group">
              <label for="group">Group</label>
              <select class="form-control form-control-sm" name="group" id="group">
                <option selected disabled></option>
                <option>Raw Condiments</option>
                <option>Test</option>
                <option>Test</option>
              </select>
            </div>
            <div class="form-group">
                <label for="pieceperpack">Piece Per Pack</label>
                <input type="text"
                    class="form-control form-control-sm" name="pieceperpack" id="pieceperpack">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn button-red mr-2">ADD</button>
        <button type="button" class="btn button-white" data-dismiss="modal">CLOSE</button>
    </div>
</div>