<div class="modal-content reset-fields-here">
    <div class="modal-header d-flex flex-column sheets-addnewdelivery-modal-header">
        {% comment %} <h5 class="modal-title roboto-24 " id="modal_addnewdelivery">NEW DAMAGE</h5> {% endcomment %}
        <div class="ml-auto">
            <button class="button-red reset-fields confirm-all-modal no-delay">CONFIRM</button>
            <button class="button-white reset-fields confirm-all-modal">CLOSE</button>
    </div>
    </div>
    <div class="edititem-searchbar ts-add-template d-flex align-items-center w-100">
        <input class="pl-2 w-75 mx-auto" type="text" placeholder="🔍 Search item">
    </div>
    <div class="modal-body">
        <ul class="edititem-list">
            <li><input class="edititem-selectall" type="checkbox" onclick="toggle(this)"> Select All</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
            <li class="border-top py-2"><input type="checkbox" name="edititem-checkbox" > Item Name</li>
        </ul>
    </div>
</div>