<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title roboto-16 text-white mx-auto" id="modal_createusertitle">CREATE EMPLOYEE</h5>
    </div>
    <div class="modal-body d-flex justify-content-around">
        <div>
            <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text"
                class="form-control form-control-sm" name="lastname" id="lastname" placeholder="">
            </div>
            <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text"
                class="form-control form-control-sm" name="firstname" id="firstname" placeholder="">
            </div>
            <div class="form-group">
            <label for="middlename">Middle Name</label>
            <input type="text"
                class="form-control form-control-sm" name="middlename" id="middlename" placeholder="">
            </div>
            <div class="form-group">
            <label for="alias">Alias</label>
            <input type="text"
                class="form-control form-control-sm" name="alias" id="alias" placeholder="">
            </div>
            <div class="form-group">
            <label for="employeeno">Employee No.</label>
            <input type="text"
                class="form-control form-control-sm" name="employeeno" id="employeeno" placeholder="">
            </div>
        </div>
        <div>
            <div class="form-group">
              <label for="group">Group</label>
              <select class="form-control form-control-sm" name="group" id="group">
                <option>Administrator</option>
                <option>Test</option>
                <option>Test</option>
              </select>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control form-control-sm" name="username" id="username" placeholder="">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="">
            </div>
            <div class="form-group">
              <label for="checkbox">Area</label>
              <label class="form-check-label form-control">
                <input type="checkbox" class="form-check-input" name="checkbox" id="checkbox" value="checkedValue">
                Iloilo
              </label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-danger mr-2">ADD</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">CLOSE</button>
    </div>
</div>