<div class="modal-content">
    <div class="modal-header ">
        <h5 class="modal-title roboto-24 text-white mx-auto">SELECT BRANCH</h5>
    </div>
    <div class="modal-body d-flex flex-column">
        <div class="bg-default">BRANCH</div>
        <input class="modal_selectshift_input border-0" type="text" value="Some Text" readonly />
        <input class="modal_selectshift_input border-0" type="text" value="Sasdft" readonly />
        <input class="modal_selectshift_input border-0" type="text" value="Sasdft" readonly />
        <input class="modal_selectshift_input border-0" type="text" value="Sasdft" readonly />
        <input class="modal_selectshift_input border-0" type="text" value="Sasdft" readonly />
    </div>
</div>