<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title roboto-16 text-white mx-auto" id="modal_createusertitle">EDIT QUOTA</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            <div class="form-group mx-1">
                <label for="amount">Amount</label>
                <input type="text"
                    class="form-control form-control-sm" name="amount" id="amount">
            </div>
            <div class="form-group mx-1">
                <label for="interval">Interval</label>
                <input type="text"
                    class="form-control form-control-sm" name="interval" id="interval">
            </div>
            <div class="form-group mx-1">
                <label for="amountpoint">Amount/Point</label>
                <input type="text"
                    class="form-control form-control-sm" name="amountpoint" id="amountpoint">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-danger mr-2">UPDATE</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">CANCEL</button>
    </div>
</div>