<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title roboto-16 text-white mx-auto" id="modal_createusertitle">PASSWORD FOR [UN] </h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
            <label for="enterpassword">Enter Password</label>
            <input type="password"
                class="form-control form-control-sm" name="enterpassword" id="enterpassword">
            </div>
            <div class="form-group">
            <label for="verifypassword">Verify Password</label>
            <input type="password"
                class="form-control form-control-sm" name="verifypassword" id="verifypassword">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-danger mr-2">CHANGE</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">CANCEL</button>
    </div>
</div>