<div class="modal-content reset-fields-here">
    <div class="modal-header sheets-addnewdelivery-modal-header">
        <h5 class="modal-title roboto-24 " id="modal_addnewdelivery">EDIT DAMAGE</h5>
        <div>
            <button class="button-red confirm-all-modal done-edit-new-delivery button-disable reset-fields" data-toggle="modal" data-target="#prompt_doneeditdelivery" disabled="true">SAVE CHANGES</button>
            <div class="modal fade close-all-modal" id="prompt_doneeditdelivery" tabindex="-1" role="dialog" aria-labelledby="prompt_doneeditdeliverylabel" aria-hidden="true">
                <div class="modal-dialog modal-xs modal-dialog-centered " role="document">    
                    {% include '../prompts/prompt_doneeditdelivery.html' %}
                </div>
            </div>
            <button class="button-red" data-toggle="modal" data-target="#modal_mapeditdelivery">MAP</button>
            <div class="modal fade close-all-modal" id="modal_mapeditdelivery" tabindex="-1" role="dialog" aria-labelledby="modal_mapeditdeliverylabel" aria-hidden="true">
                <div class="modal-dialog modal-xs modal-dialog-centered " role="document">    
                    {% include '../modals/modal_mapeditdelivery.html' %}
                </div>
            </div>
            <button class="button-white cancel-edit-new-delivery" data-dismiss="modal">CANCEL</button>
            <div class="modal fade close-all-modal" id="prompt_doneaddnewdelivery" tabindex="-1" role="dialog" aria-labelledby="prompt_doneaddnewdeliverylabel" aria-hidden="true">
                <div class="modal-dialog modal-xs modal-dialog-centered " role="document">    
                    {% include '../prompts/prompt_doneaddnewdelivery.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="d-flex sheets-edit-delivery-inputs">
            <div class="form-group mx-1">
                <label for="documentnumber">Document Number</label>
                <input type="text"
                    class="form-control form-control-sm" name="documentnumber" id="documentnumber">
            </div>
            <div class="form-group mx-1">
                <label for="date">Date</label>
                <input type="date"
                    class="form-control form-control-sm" name="date" id="date">
            </div>
            <div class="form-group sheets-select">
                <label for="branchfrom">Branch From</label>
                <select class="form-control form-control-sm" name="branchfrom" id="branchfrom">
                    <option selected disabled></option>
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                </select>
            </div>
            <div class="form-group sheets-select mx-1">
                <label for="branchto">Branch To</label>
                <select class="form-control form-control-sm" name="branchto" id="branchto">
                    <option selected disabled></option>
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                </select>
            </div>
            <div class="form-group mx-1 w-50">
                <label for="comments">Comments</label>
                <input type="text"
                    class="form-control form-control-sm" name="comments" id="comments">
            </div>
        </div>

    </div>
    <div class="d-flex p-3">
        {% comment %} <div class="pull-left"> {% endcomment %}
            <div class="form-group mx-1">
                <label for="description">ITEM NAME</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input" name="description" id="description" placeholder="Enter keyword to search item">
            </div>
            <div class="form-group mx-1">
                <label for="sapqty">SAP QTY</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="sapqty" id="sapqty">
            </div>
            <div class="form-group mx-1">
                <label for="qty">QTY</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="qty" id="qty">
            </div>
            <div class="form-group mx-1">
                <label for="unit">UNIT</label>
                <input type="text" class="form-control form-control-sm sheets-addnewdelivery-description-input-siblings" name="unit" id="unit">
            </div>
            <button type="submit" class="btn h-50 mt-4">
                    <img src="../../static/img/sheets-icons/add.png" />
            </button>
        {% comment %} </div> {% endcomment %}
    </div>
    <table class="table table-border  table-sm w-50 m-3">
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                <td contenteditable="false">5.00</td>
                <td contenteditable="false">5</td>
                <td contenteditable="false">piece</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Barbecue Sauce</td>
                <td contenteditable="false">5.00</td>
                <td contenteditable="false">5</td>
                <td contenteditable="false">piece</td>
            </tr>
        </tbody>
    </table>
</div>