<div class="modal-content p-3 pt-4">
    <div class="modal-title text-center roboto-16 font-weight-bold"> 54540 - [OCTOBER 29, 2019] </div>
    <table class="table table-sm table-border  mt-3 repo-modal-updateconversion-table">
        <thead class="table-active">
            <tr>
                <th>ITEM</th>
                <th>FIRST NAME</th>
                <th>MIDDLE NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
            <tr>
                <td scope="row" contenteditable="false">Beef Shawarma Rice</td>
                <td contenteditable="false">12</td>
                <td contenteditable="false">bottle</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn button-red mr-2" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn button-white" >UNMAP</button>
    </div>
</div>