{% extends "base.html" %} 

{% block content %}
    <div class="landing-page">
        <div class="landing-page-createnew">
            <h2 class="text-left text-gray roboto">Create New</h2>
            <div class="landing-page-cards  mt-5 d-flex justify-content-between">
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/inventorysheet.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Inventory Sheet</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/delivery.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Delivery</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/transfer.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Transfer</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/damagereturn.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Damage Return</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/invoice.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Invoice</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/pettycash.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Petty Cash</span>
                </button>
                <button class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/sales.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Sales</span>
                </button>
            </div>
        </div>
        <div class="landing-page-repository">
            <h2 class="text-left text-gray roboto">Repository</h2>
            
        </div>
    </div>
{% endblock content %}