{% extends "base.html" %} 

{% block content %}
    <div class="landing-page">
        <div class="landing-page-createnew">
            <h2 class="text-left text-gray roboto">Create New</h2>
            <div class="landing-page-cards  mt-5 d-flex justify-content-between">
                <a class="d-inline-flex flex-column landing-page-card" data-toggle="modal" data-target="#modal_addnewsheet">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/inventorysheet.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Inventory Sheet</span>
                </a>
                <div class="modal fade" id="modal_addnewsheet" tabindex="-1" role="dialog" aria-labelledby="modal_addnewsheetlabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">    
                        {% include '../modals/modal_addnewsheet.html' %}
                    </div>
                </div>
                
                <a class="d-inline-flex flex-column landing-page-card" href="{% url 'sheets:_delivery_view' %}">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/delivery.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Delivery</span>
                </a>
                <a class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/transfer.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Transfer</span>
                </a>
                <a class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/damagereturn.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Damage Return</span>
                </a>
                <a class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/invoice.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Invoice</span>
                </a>
                <a class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/pettycash.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Petty Cash</span>
                </a>
                <a class="d-inline-flex flex-column landing-page-card">
                    <img class="mx-auto" src="../../static/img/home-icons/createnew/sales.png">
                    <span class="mx-auto mt-3 roboto-10 landing-page-card-text">Sales</span>
                </a>
            </div>
        </div>
        <div class="landing-page-repository">
            <h2 class="text-left text-gray roboto">Repository</h2>
            <div class="landing-page-repository-buttons d-flex ">
                <div class="landing-page-repository-buttons-left d-flex flex-column mr-3">
                    <button class="roboto-14">
                        <a href="{% url 'repository:user_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/user.png">
                            User
                        </a>
                    </button>
                    <button class="roboto-14" >
                        <a href="{% url 'repository:area_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/area.png">
                            Area
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="{% url 'repository:branch_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/branch.png">
                            Branch
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="{% url 'repository:employee_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/employee.png">
                            Employee
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="">
                            <img class="mr-2" src="../../static/img/home-icons/repository/device.png">
                            Device
                        </a>
                    </button>
                </div>
                <div class="landing-page-repository-buttons-right d-flex flex-column">
                    <button class="roboto-14">
                        <a href="">
                            <img class="mr-2" src="../../static/img/home-icons/repository/paymenttype.png">
                            Payment Type
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="">
                            <img class="mr-2" src="../../static/img/home-icons/repository/discounttype.png">
                            Discount Type
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="{% url 'repository:uom_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/unitofmeasure.png">
                            Unit of Measure
                        </a>
                    </button>
                    <button class="roboto-14">
                        <a href="{% url 'repository:item_view' %}">
                            <img class="mr-2" src="../../static/img/home-icons/repository/item.png">
                            Item
                        </a>
                    </button>
                </div>
            </div>
            <div class="repository-foot d-flex ">
                <hr/>
                <div class="repository-foot-template mx-2">
                    <div class="repository-foot-template-title roboto-14 d-flex justify-content-between">
                        TEMPLATE
                        <a><img class="repository-edit" src="../../static/img/home-icons/repository/edit.png"></a>
                    </div>
                    <hr/>
                    
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        2019 Airport
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        2019 Regular
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        Airport
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        Regular
                    </button>
                </div>
                <div class="repository-foot-bom">
                    <div class="repository-foot-template-title roboto-14 d-flex justify-content-between">
                        BOM
                        <a><img class="repository-edit" src="../../static/img/home-icons/repository/edit.png"></a>
                    </div><hr/>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        2019 Airport
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        2019 Regular
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        Airport
                    </button>
                    <button class="roboto-14">
                        <img class="mr-2" src="../../static/img/home-icons/repository/templatebom.png">
                        Regular
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}