{% extends 'base.html' %}

{% block content %}
    <div class="login-page d-flex">
        <div class="login-card">
            <div class=" d-flex flex-column p-5 bg-white">
                <img class="mx-auto mb-4" src="../../static/img/wtilogo-lg.png">
                <label class="d-flex flex-column" for="">
                    Username
                    <input class="h-50" type="text">
                </label>
                <label class="d-flex flex-column"  for="">
                    Password
                    <input class="h-50" type="password">
                </label>
                <button class="button-red mt-4 w-75 mx-auto">LOG IN</button>
            </div>
            <div class="roboto-10">
                Not the page you expected?  Click here.<br>
                Forgot password? Contact the MIS Department
            </div>
        </div>
        <!-- <div class="login-left w-50">
            <img src="../../static/img/wtilogo-lg.png" class="login-left-logo">
            <div class="login-left-text roboto"> Waffle Time <br/> Group of Companies </div>
        </div>
        <div class="login-right w-50 bg-warning">
            <button class="login-right-manager button">
                {% comment %} <img src="../../static/img/login-img/manager-white.png"> {% endcomment %}
            </button>
            <button class="login-right-dir button">
                <img src="../../static/img/login-img/dir-white.png">
            </button>
        </div> -->
    </div>
{% endblock content %}