{% extends 'base.html' %}

{% block content %}
    <div class="login-page d-flex">
        <div class="login-left w-50">
            <img src="../../static/img/wtilogo-lg.png" class="login-left-logo">
            <div class="login-left-text roboto"> Waffle Time <br/> Group of Companies </div>
        </div>
        <div class="login-right w-50 bg-warning">
            <button class="login-right-manager button">
                {% comment %} <img src="../../static/img/login-img/manager-white.png"> {% endcomment %}
            </button>
            <button class="login-right-dir button">
                <img src="../../static/img/login-img/dir-white.png">
            </button>
        </div>
    </div>
{% endblock content %}