{% extends 'base.html' %}

{% block login %}
    <div class="splash-page d-flex h-100 w-100">
        <div class="splash-left w-50">
            <img src="../../static/img/wtilogo-lg.png" class="splash-left-logo">
            <div class="splash-left-text roboto"> Waffle Time <br/> Group of Companies </div>
        </div>
        <div class="splash-right d-flex flex-column mt-5">
            <div class="splash-right-text text-white roboto-24 mb-4">Choose an application</div>
            <a class="splash-right-button button" href="{% url 'landing:login_view' %}">
                <img src="../../static/img/login-icons/dir.png" > 
                Daily Inventory Report
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Upward Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Monthly Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
            <a class="splash-right-button button" href="">
                <img src="../../static/img/login-icons/app.png"> 
                Supervisory Appraisal Tool
            </a>
        </div>
    </div>
{% endblock login %}