{% extends "repository_templates/repository.html" %}

{% block repository-content %}
    <div class="repo-title roboto-24 text-gray">Area</div> 
    <hr/>
    <form action="{% url 'repository:area_add' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-row mb-4">
            <input type="text" class="form-control col ml-2" name="area"  placeholder="Area" required>
            <select class="form-control col ml-2" id='select' name="commissary">
                <option selected>Commi Iloilo</option>
            </select>
            <input type="text" class="form-control col ml-2" name="server"  placeholder="Server" required>
            <input type="text" class="form-control col ml-2" name="user"  placeholder="User" required>
            <input type="text" class="form-control col ml-2" name="password"  placeholder="Password" required>
            <input type="text" class="form-control col ml-2" name="database"  placeholder="Database" required>
            <input type="text" class="form-control col ml-2" name="datasource"  placeholder="Data Source" required>
            <button type="submit" class="btn"><img src="../../static/img/repository-icons/add.png"/></button>
        </div>
    </form>

    <table class="table table-borderless  table-sm">
        <thead class="table-active">
            <tr>
                <th>AREA</th>
                <th>COMMI</th>
                <th>SERVER</th>
                <th>USER</th>
                <th>PASSWORD</th>
                <th>DATABASE</th>
                <th>DATA SOURCE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for areadata in all_areas %}
                <tr> 
                    <form action="{% url 'repository:area_update' areadata.idArea %}" method="POST" autocomplete="off"></form>
                        <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.unBranchCommi }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.ASAPSvr }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.ASAPUsr }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.ASAPSvr }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.ASAPPwd }}" readonly /></td>
                        <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>

                        <td>
                            <a class="mr-2" type="submit" name="edit"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                            <a class="mr-2 ml-n3"><img src="../../static/img/repository-icons/edit-gray.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-gray-button d-none"></a>
                            <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
                        </td>
                    </form>
                </tr>
            {% endfor %}          
        </tbody>
    </table>
{% endblock repository-content %}