{% extends "repository_templates/repository.html" %}

{% block repository-content %}
    <div class="repo-title roboto-24 text-gray">Area</div> 
    <hr/>
    <form>
        <div class="form-row mb-4">
            <input type="text" class="form-control col ml-2" name="area"  placeholder="Area">
            <select class="form-control col ml-2" id='select' name="commissary">
                <option selected disabled>Commissary</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <input type="text" class="form-control col ml-2" name="server"  placeholder="Server">
            <input type="text" class="form-control col ml-2" name="user"  placeholder="User">
            <input type="text" class="form-control col ml-2" name="password"  placeholder="Password">
            <input type="text" class="form-control col ml-2" name="database"  placeholder="Database">
            <input type="text" class="form-control col ml-2" name="datasource"  placeholder="Data Source">
            <button type="submit" class="btn"><img src="../../static/img/repository-icons/add.png"/></button>
        </div>
    </form>

    <table class="table table-borderless  table-sm">
        <thead class="table-active">
            <tr>
                <th>AREA</th>
                <th>COMMI</th>
                <th>SERVER</th>
                <th>USER</th>
                <th>PASSWORD</th>
                <th>DATABASE</th>
                <th>DATA SOURCE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">Iloilo</td>
                <td contenteditable="false">Commissary</td>
                <td contenteditable="false">10.1.1.100</td>
                <td contenteditable="false">sa</td>
                <td contenteditable="false">mis119.93</td>
                <td contenteditable="false">GFC150109</td>
                <td contenteditable="false">ILODataSource</td>
                <td>
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <a class="mr-2 ml-n3"><img src="../../static/img/repository-icons/edit-gray.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-gray-button d-none"></a>
                    <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock repository-content %}