{% extends "repository_templates/repository.html" %}

{% block repository-content %}
    <div class="repo-title roboto-24 text-gray">Branch</div> 
    <hr/>
    <form>
        <div class="form-row mb-4">
            <input type="text" class="form-control col ml-2" name="area"  placeholder="Branch">
            <select class="form-control col ml-2"  name="area">
                <option selected disabled>Area</option>
                <option>Iloilo</option>
            </select>
            <select class="form-control col ml-2" name="template">
                <option selected disabled>Template</option>
                <option>Airport</option>
                <option>Regular</option>
            </select>
            <select class="form-control col ml-2" name="template">
                <option selected disabled>BOM</option>
                <option>Airport</option>
                <option>Regular</option>
            </select>
            <input type="text" class="form-control col ml-2" name="sapcode"  placeholder="SAP Code">
            <select class="form-control col ml-2" name="type">
                <option selected disabled>Type</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <input type="textarea" class="form-control col ml-2" name="description"  placeholder="Description">
            <button type="submit" class="btn"><img src="../../static/img/repository-icons/add.png"/></button>
        </div>
    </form>

    <table class="table table-borderless  table-sm">
        <thead class="table-active">
            <tr>
                <th>BRANCH</th>
                <th>AREA</th>
                <th>TEMPLATE</th>
                <th>SAP CODE</th>
                <th>TYPE</th>
                <th>DESCRIPTION</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" contenteditable="false">City Mall Tagbak</td>
                <td contenteditable="false">Iloilo</td>
                <td contenteditable="false">2019 Regular</td>
                <td contenteditable="false"></td>
                <td contenteditable="false">for development purpose</td>
                <td contenteditable="false">Deactivated</td>
                <td>
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <a class="mr-2"><img src="../../static/img/repository-icons/delete.png" data-toggle="tooltip" data-placement="top" title="Delete"></a>
                    <a><img src="../../static/img/repository-icons/deactivate.png" data-toggle="tooltip" data-placement="top" title="Deactivate"></a>
                    <a class="repo-edit-quota-button   d-non ml-3 roboto-14"><span>EDIT QUOTA</span></a>
                    <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_createuser">
                        <img src="../../static/img/repository-icons/plus.png" class="">
                        Add New
                    </button>
                    <div class="modal fade" id="modal_createuser" tabindex="-1" role="dialog" aria-labelledby="modal_createuserlabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../modals/modal_createuser.html' %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock repository-content %}