{% extends "repository_templates/repository.html" %}

{% block repository-content %}
    <div class="repo-title roboto-24 text-gray">Branch</div> 
    <hr/>
    <div class="form-row mb-4">
        <input type="text" class="form-control col ml-2" name="area" id="branch-name" placeholder="Branch">
        <select class="form-control col ml-2"  name="area" id="branch-area">
            <option selected disabled>Area</option>
            {% for area in areas %}
            <option id="{{ area.idArea }}">{{ area.AName }}</option>
            {% endfor %}  
        </select>
        <select class="form-control col ml-2" name="template" id="branch-template">
            <option selected disabled>Template</option>
            <option>Airport</option>
            <option>Regular</option>
        </select>
        <select class="form-control col ml-2" name="template" id="branch-BOM">
            <option selected disabled>BOM</option>
            <option>Airport</option>
            <option>Regular</option>
        </select>
        <input type="text" class="form-control col ml-2" name="sapcode" id="branch-sapcode"  placeholder="SAP Code">
        <select class="form-control col ml-2" name="type" id="branch-type">
            <option selected disabled>Type</option>
            <option>Office</option>
            <option>Outlet</option>
            <option>Commi</option>
        </select>
        <input type="textarea" class="form-control col ml-2" name="description" id="branch-desc"  placeholder="Description">
        <button type="submit" class="btn" id="btn-branch-add"><img src="../../static/img/repository-icons/add.png"/></button>
    </div>
    <div class="alert alert-success mt-3 d-none">
        <strong>Success!</strong> Branch created successfully.
    </div>
    <table class="table table-border  table-sm">
        <thead class="table-active">
            <tr>
                <th>BRANCH</th>
                <th>AREA</th>
                <th>TEMPLATE</th>
                <th>SAP CODE</th>
                <th>TYPE</th>
                <th>DESCRIPTION</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches %}
                <tr>
                    <td><input type="text" class="form-control" value="{{ branch.BName }}" readonly /></td>
                    <td>
                        <select class="form-control form-control-sm" disabled>
                            <option selected disabled>{{ branch.AName }}</option>
                            <option>Test</option>
                            <option>Test</option>
                            <option>Test</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" disabled>
                            <option selected disabled>{{ branch.TICName }}</option>
                            <option>Test</option>
                            <option>Test</option>
                            <option>Test</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" disabled>
                            <option selected disabled>{{ branch.TPBName }}</option>
                            <option>Test</option>
                            <option>Test</option>
                            <option>Test</option>
                        </select>
                    </td>                
                    <td><input type="text" class="form-control" value="{{ branch.BSAPCode  }}" readonly /></td>
                    <td>
                        <select class="form-control form-control-sm" disabled>
                            <option selected disabled>{{ branch.BType }}</option>
                            <option>Test</option>
                            <option>Test</option>
                            <option>Test</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" value="{{ branch.BDescription  }}" readonly /></td>
                    
                    <td class="d-flex">
                        <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button in-branch"></a>
                        <input type="image" src="../../static/img/repository-icons/edit-gray.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-gray-button in-branch d-none mr-2 ml-n3">
                        <a class="mr-2"><img src="../../static/img/repository-icons/delete.png" data-toggle="tooltip" data-placement="top" title="Deactivate"></a>
                        <a id="repo-edit-quota-button" class="repo-edit-quota-button d-none roboto-14 ml-3" data-toggle="modal" data-target="#modal_editquota"><span>EDIT QUOTA</span></a>
                        <div class="modal fade" id="modal_editquota" tabindex="-1" role="dialog" aria-labelledby="modal_editquotalabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">    
                                {% include '../modals/modal_editquota.html' %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
{% endblock repository-content %}