{% extends "repository_templates/repository.html" %}

{% block repository-content %}
    <div class="repo-title roboto-24 text-gray">Branch</div> 
    <hr/>
    <form>
        <div class="form-row mb-4">
            <input type="text" class="form-control col ml-2" name="area"  placeholder="Branch">
            <select class="form-control col ml-2"  name="area">
                <option selected disabled>Area</option>
                <option>Iloilo</option>
            </select>
            <select class="form-control col ml-2" name="template">
                <option selected disabled>Template</option>
                <option>Airport</option>
                <option>Regular</option>
            </select>
            <select class="form-control col ml-2" name="template">
                <option selected disabled>BOM</option>
                <option>Airport</option>
                <option>Regular</option>
            </select>
            <input type="text" class="form-control col ml-2" name="sapcode"  placeholder="SAP Code">
            <select class="form-control col ml-2" name="type">
                <option selected disabled>Type</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <input type="textarea" class="form-control col ml-2" name="description"  placeholder="Description">
            <button type="submit" class="btn"><img src="../../static/img/repository-icons/add.png"/></button>
        </div>
    </form>

    <table class="table table-borderless  table-sm">
        <thead class="table-active">
            <tr>
                <th>BRANCH</th>
                <th>AREA</th>
                <th>TEMPLATE</th>
                <th>SAP CODE</th>
                <th>TYPE</th>
                <th>DESCRIPTION</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>

                <td class="d-flex">
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button in-branch"></a>
                    <input type="image" src="../../static/img/repository-icons/edit-gray.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-gray-button in-branch d-none mr-2 ml-n3">
                    <a class="mr-2"><img src="../../static/img/repository-icons/delete.png" data-toggle="tooltip" data-placement="top" title="Deactivate"></a>
                    <a id="repo-edit-quota-button" class="repo-edit-quota-button d-none roboto-14 ml-3" data-toggle="modal" data-target="#modal_editquota"><span>EDIT QUOTA</span></a>
                    <div class="modal fade" id="modal_editquota" tabindex="-1" role="dialog" aria-labelledby="modal_editquotalabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../modals/modal_editquota.html' %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock repository-content %}