{% extends 'repository_templates/repository.html' %}

{% block repository-content %}
<div class="d-flex justify-content-between mb-3">
    <div class="repo-title roboto-24 text-gray">Employee</div>
    <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_createemployee" id="init-create-employee-modal">
        <img src="../../static/img/repository-icons/plus.png" class="">
        Add New
    </button>
    <div class="modal fade close-all-modal" id="modal_createemployee" tabindex="-1" role="dialog" aria-labelledby="modal_createemployeelabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">    
            {% include '../modals/modal_createemployee.html' %}
        </div>
    </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active repository-user-tab" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">Employee</a>
    <a class="nav-item nav-link repository-group-tab" id="nav-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="false">Group</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
    <div class="alert alert-success mt-3 d-none">
        <strong>Success!</strong> Employee created successfully.
    </div>
    <table class="table table-border  table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>MIDDLE NAME</th>
                <th>ALIAS</th>
                <th>EMPLOYEE NO.</th>
                <th>GROUP</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td><input type="text" class="form-control" value="{{ employee.ELastName }}" readonly /></td>
                    <td><input type="text" class="form-control" value="{{ employee.EFirstName }}" readonly /></td>
                    <td><input type="text" class="form-control" value="{{ employee.EMiddleName }}" readonly /></td>
                    <td><input type="text" class="form-control" value="{{ employee.EAlias }}" readonly /></td>
                    <td><input type="text" class="form-control" value="{{ employee.ENumber }}" readonly /></td>
                    <td>
                        <select class="form-control" disabled>
                            <option selected>{{ employee.EGroup}}</option>
                            
                        </select>
                    </td>           
                    <td class="d-flex td-au-actions">
                        <a class="mr-2" data-toggle="modal" data-target="#modal_selectarea"><img src="../../static/img/repository-icons/selectarea.png" data-toggle="tooltip" data-placement="top" title="Select Area" class="btn-employee-select-area"></a>
                        <div class="modal fade close-all-modal" id="modal_selectarea" tabindex="-1" role="dialog" aria-labelledby="modal_selectarealabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">    
                                {% include '../modals/modal_selectarea.html' %}
                            </div>
                        </div>
                        <a class="mr-2" data-toggle="modal" data-target="#modal_changepassword"><img src="../../static/img/repository-icons/changepassword.png" data-toggle="tooltip" data-placement="top" title="Change Password" class="btn-employee-change-pass-init"></a>
                        <div class="modal fade close-all-modal" id="modal_changepassword" tabindex="-1" role="dialog" aria-labelledby="modal_changepasswordlabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">    
                                {% include '../modals/modal_changepassword.html' %}
                            </div>
                        </div>
                        <a class=""><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                        <input type="image" src="../../static/img/repository-icons/edit-gray.png"  data-toggle="modal" data-target="#prompt_doneedituser" class="repository-edit-gray-button d-none btn-employee-update">
                        <div class="modal fade" id="prompt_doneedituser" tabindex="-1" role="dialog" aria-labelledby="prompt_doneedituserlabel" aria-hidden="true">
                            <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
                                {% include '../prompts/prompt_doneedituser.html' %}
                            </div>
                        </div>
                        <a><img src="../../static/img/repository-icons/deactivate.png" data-toggle="tooltip" data-placement="top" title="Deactivate" class="btn-employee-deactivate"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

    <div name="div-employee-group" class="tab-pane fade  pt-3" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab">
        <div class="d-flex">
            <div>
                <input type="text" class="form-control ml-2" name="name" id="emplo-group-name"  placeholder="Name">
            </div>
        <div>
        <select class="form-control form-control ml-3" name="group" id="credential-level">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        </div>
            <button type="submit" id="btn-create-emplo-group" class="btn ml-3"><img src="../../static/img/repository-icons/add.png"/></button>
        </div>
        <table class="table table-border  table-sm  mt-3" id="table-emplo-group">
            <thead class="table-active">
                <tr>
                    <th>NAME</th>
                    <th>LEVEL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for employee_group in employee_groups %}
                    <tr id="{{ employee_group.idEmployeeGroup }}">
                        <td><input type="text" class="form-control td-emplo-group-name" value="{{ employee_group.EGName }}" readonly /></td>
                        <td> <select class="form-control td-emplo-group-credential" disabled>
                            <option selected disabled>{{ employee_group.EGLevel }}</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select> </td>
                        <td class="w-25">
                            <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                            <input type="image" src="../../static/img/repository-icons/edit-gray.png" class="repository-edit-gray-button d-none mr-2 ml-n3 btn-emplo-group-update">
                            <div class="modal fade" id="prompt_doneeditemployee" tabindex="-1" role="dialog" aria-labelledby="prompt_doneeditemployeelabel" aria-hidden="true">
                                <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
                                    {% include '../prompts/prompt_doneeditemployee.html' %}
                                </div>
                            </div>
                            <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" class="btn-emplo-group-deactive"></a>
                        </td>
                    </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>

<div class="modal fade" id="prompt_confirmdeactivate" tabindex="-1" role="dialog" aria-labelledby="prompt_confirmdeactivatelabel" aria-hidden="true">
    <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
        {% include '../prompts/prompt_confirmdeactivate.html' %}
    </div>
</div>
{% endblock repository-content %}