{% extends 'repository_templates/repository.html' %}

{% block repository-content %}
<div class="d-flex justify-content-between mb-3">
    <div class="repo-title roboto-24 text-gray">Item</div>
    <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_addproduct">
        <img src="../../static/img/repository-icons/plus.png" class="">
        Add New
    </button>
    <div class="modal fade close-all-modal" id="modal_addproduct" tabindex="-1" role="dialog" aria-labelledby="modal_addproductlabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">    
            {% include '../modals/modal_addproduct.html' %}
        </div>
    </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active repository-user-tab" id="nav-item-tab" data-toggle="tab" href="#nav-item" role="tab" aria-controls="nav-item" aria-selected="true">Item</a>
    <a class="nav-item nav-link repository-group-tab" id="nav-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="false">Group</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-item" role="tabpanel" aria-labelledby="nav-item-tab">
    <table class="table table-border  table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>ITEM NAME</th>
                <th>UNIT</th>
                <th>PIECE PER PACK</th>
                <th>SAP CODE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td>
                    <select class="form-control w-100" disabled>
                        <option selected></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </td>                
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>

                <td>
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <input type="image" src="../../static/img/repository-icons/edit-gray.png" data-toggle="modal" data-target="#prompt_doneedititem" class="repository-edit-gray-button d-none mr-2 ml-n3">
                    <div class="modal fade close-all-modal" id="prompt_doneedititem" tabindex="-1" role="dialog" aria-labelledby="prompt_doneedititemlabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../prompts/prompt_doneedititem.html' %}
                        </div>
                    </div>
                    <a class="mr-2" data-toggle="modal" data-target="#modal_updateconversion"><img src="../../static/img/repository-icons/updateconversion.png" data-toggle="tooltip" data-placement="top" title="Change Password" ></a>
                    <div class="modal fade" id="modal_updateconversion" tabindex="-1" role="dialog" aria-labelledby="modal_updateconversionlabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../modals/modal_updateconversion.html' %}
                        </div>
                    </div>
                    <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab">
    <table class="table table-border  table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>ITEM GROUP NAME</th>
                <th>ITEM TYPE</th>
                <th>SHORTAGE TYPE</th>
                <th>PRIORITY</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.ASAPDataSource }}" readonly /></td>

                <td>
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <input type="image" src="../../static/img/repository-icons/edit-gray.png" data-toggle="modal" data-target="#prompt_doneedititemgroup" class="repository-edit-gray-button d-none mr-2 ml-n3">
                    <div class="modal fade" id="prompt_doneedititemgroup" tabindex="-1" role="dialog" aria-labelledby="groupgrouplabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../prompts/prompt_doneedititemgroup.html' %}
                        </div>
                    </div>
                    <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock repository-content %}