{% extends 'repository_templates/repository.html' %}

{% block repository-content %}
<div class="user-head d-flex justify-content-between mb-3">
    <div class="repo-title roboto-24 text-gray">Unit of Measure</div>
</div>

<form class="d-flex">
    <div class="uom-unit-input">
        <input type="text" class="form-control ml-2 " name="unit"  placeholder="Unit">
    </div>
    <button type="submit" class="btn uom-submit-button"><img src="../../static/img/repository-icons/add.png"/></button>
</form>

<table class="table table-borderless  table-sm  mt-3">
    <thead class="table-active">
        <tr>
            <th>UNIT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="uom-table-td" scope="row" contenteditable="false">bottle</td>
            <td>
                <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock repository-content %}