{% extends 'repository_templates/repository.html' %}

{% block repository-content %}

<div class="d-flex justify-content-between mb-3">
    <div class="repo-title roboto-24 text-gray">User</div>
    <button type="button" class="repository-user-add-button" data-toggle="modal" data-target="#modal_createuser" id="btn-open-createuser-modal">
        <img src="../../static/img/repository-icons/plus.png" class="">
        Add New
    </button>
    <div class="modal fade close-all-modal" id="modal_createuser" tabindex="-1" role="dialog" aria-labelledby="modal_createuserlabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">    
            {% include '../modals/modal_createuser.html' %}
        </div>
    </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active repository-user-tab" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">User</a>
    <a class="nav-item nav-link repository-group-tab" id="nav-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="false">Group</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
    <div class="alert alert-success mt-3 d-none">
        <strong>Success!</strong> User created successfully.
    </div>
    <table class="table table-border  table-sm  mt-3">
        <thead class="table-active">
            <tr>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>MIDDLE NAME</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>ACCOUNT GROUP</th>
                <th>STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>
                <td>
                    <select class="form-control" disabled>
                        <option selected></option>
                        <option>Test</option>
                        <option>Test</option>
                        <option>Test</option>
                    </select>
                </td>
                <td><input type="text" class="form-control" value="{{ areadata.AName }}" readonly /></td>

                <td class="d-flex">
                    <a class="mr-2" data-toggle="modal" data-target="#modal_selectarea"><img src="../../static/img/repository-icons/selectarea.png" data-toggle="tooltip" data-placement="top" title="Select Area" ></a>
                    <div class="modal fade close-all-modal" id="modal_selectarea" tabindex="-1" role="dialog" aria-labelledby="modal_selectarealabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../modals/modal_selectarea.html' %}
                        </div>
                    </div>
                    <a class="mr-2" data-toggle="modal" data-target="#modal_changepassword"><img src="../../static/img/repository-icons/changepassword.png" data-toggle="tooltip" data-placement="top" title="Change Password" ></a>
                    <div class="modal fade" id="modal_changepassword" tabindex="-1" role="dialog" aria-labelledby="modal_changepasswordlabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">    
                            {% include '../modals/modal_changepassword.html' %}
                        </div>
                    </div>
                    <a class=""><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <input type="image" src="../../static/img/repository-icons/edit-gray.png"  data-toggle="modal" data-target="#prompt_doneedituser" class="repository-edit-gray-button d-none">
                    <div class="modal fade" id="prompt_doneedituser" tabindex="-1" role="dialog" aria-labelledby="prompt_doneedituserlabel" aria-hidden="true">
                        <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
                            {% include '../prompts/prompt_doneedituser.html' %}
                        </div>
                    </div>
                    <a><img src="../../static/img/repository-icons/deactivate.png" data-toggle="tooltip" data-placement="top" title="Deactivate" ></a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade  pt-3" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab">
    <div class="form-row mb-4 reset-fields-here">
        <input type="text" class="form-control ml-2 unit-input" name="area" id="AGName"  placeholder="Area">
        <button type="submit" class="btn confirm-all-modal reset-fields" id="btn-add-user-group"><img src="../../static/img/repository-icons/add.png"/></button>
    </div>
    <div class="alert alert-success mt-3 d-none">
        <strong>Success!</strong> User group created successfully.
    </div>
    <table class="table table-border table-sm  mt-3 table-account-group" id="table_account_group">
        <thead class="table-active  ">
            <tr>
                <th>NAME</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for AccountGroup in AccountGroups %}
            <tr id="{{ AccountGroup.idAccountGroup }}">
                <td class="unit-input"><input type="text" class="form-control td-AG-AGName" value="{{ AccountGroup.AGName }}" readonly /></td>
                <td>
                    <a class="mr-2"><img src="../../static/img/repository-icons/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-button"></a>
                    <input type="image" src="../../static/img/repository-icons/edit-gray.png" data-toggle="tooltip" data-placement="top" title="Edit" class="repository-edit-gray-button d-none mr-2 ml-n3 account-group-update">
                    <a><img src="../../static/img/repository-icons/deactivate.png"data-toggle="tooltip" data-placement="top" title="Deactivate" class="account-group-deactive"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="prompt_confirmdeactivate" tabindex="-1" role="dialog" aria-labelledby="prompt_confirmdeactivatelabel" aria-hidden="true">
    <div class="modal-dialog modal-xs modal-dialog-centered" role="document">    
        {% include '../prompts/prompt_confirmdeactivate.html' %}
    </div>
</div>

{% endblock repository-content %}