<nav class="navbar navbar-expand navbar-light bg-main">
    <a class="navbar-brand" href="{% url 'landing:landing_view' %}">
      {% load static %}
      <img src=" {% static 'img/wtilogo.png' %}" width="50" height="40" class="d-inline-block align-center text-white ml-2" alt="">
    </a>
    <span class="text-white main-title mr-auto">SALES AND INVENTORY SYSTEM</span>

    <img src=" {% static 'img/avatar.png' %}" width="24" height="24" class="d-inline-block align-center text-white mr-2" alt="">
    <span class="text-white float-right">User Name</span>
</nav>