<div id="mySidebar" class="sidebar">
    <div class="sidebar-area">
        <div class="sidebar-area-dropdown">AREA: Iloilo</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <hr/>
    </div>
    <div class="sidebar-file">
        <div class="sidebar-file-title">FILE</div>
        <div class="sidebar-dropdown-button">Create New ▼</div>
        <div class="sidebar-dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="sidebar-edit">
        <div class="sidebar-edit-title">EDIT</div>
    </div>
</div>