<div id="mySidebar" class="sidebar">
    <div class="sidebar-area">
        <div class="sidebar-area-dropdown  roboto-14">AREA: Iloilo</div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <hr/>
    </div>
    <div class="sidebar-file">
        <div class="sidebar-file-title   roboto-12">FILE</div>
        <div class="sidebar-dropdown-button    roboto-16">
            <img src="../../static/img/sidebar-icons/createnew.png" class="mr-2"
            >
            Create New ▼
        </div>
        <ul class="sidebar-dropdown-container d-none">
            <li><a class="roboto-12" href="{% url 'sheets:inventory_view' %}">Inventory Sheet</a></li>
            <li><a class="roboto-12" href="{% url 'sheets:_delivery_view' %}">Delivery</a></li>
            <li><a class="roboto-12" href="{% url 'sheets:_damagereturn_view' %}">Damage Return</a></li>
            {% comment %} <a class="roboto-12" href="#">Invoice</a> {% endcomment %}
            <li><a class="roboto-12" href="{% url 'sheets:_pettycash_view' %}">Petty Cash</a></li>
            {% comment %} <a class="roboto-12" href="#">Sales</a> {% endcomment %}
        </ul>
        <div class="sidebar-dropdown-button    roboto-16">
            <img src="../../static/img/sidebar-icons/open.png" class="mr-2"
            >
            Open ▼
        </div>
        <div class="sidebar-dropdown-container d-none">
            <a class="roboto-12" href="#">Test</a>
        </div>
        <div class="roboto-16">
            <img src="../../static/img/sidebar-icons/import.png" class="mr-2"
            >
            Import
        </div>
    </div>
    <div class="sidebar-edit   mt-5">
        <div class="sidebar-edit-title   roboto-12">EDIT</div>
        <div class="roboto-16" >
            <a  href="{% url 'repository:main_view' %}">
                <img src="../../static/img/sidebar-icons/repository.png" class="mr-2"
                >
                Respository
            </a>
        </div>
        <div class="sidebar-dropdown-button    roboto-16">
            <img src="../../static/img/sidebar-icons/Template.png" class="mr-2">
            Template ▼
        </div>
        <ul class="sidebar-dropdown-container d-none">
            <li><a class="roboto-12" href="#">2019 Airport</a></li>
            <li><a class="roboto-12" href="#">2019 Regular</a></li>
            <li><a class="roboto-12" href="#">Airport</a></li>
            <li><a class="roboto-12" href="#">Regular</a></li>
        </ul>
        <div class="sidebar-dropdown-button    roboto-16">
            <img src="../../static/img/sidebar-icons/bom.png" class="mr-2"
            >
            BOM ▼
        </div>
        <ul class="sidebar-dropdown-container d-none">
            <li><a class="roboto-12" href="#">2019 Airport</a></li>
            <li><a class="roboto-12" href="#">2019 Regular</a></li>
            <li><a class="roboto-12" href="#">Airport</a></li>
            <li><a class="roboto-12" href="#">Regular</a></li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <div class="roboto-16   mt-2">
            <img src="../../static/img/sidebar-icons/help.png" class="mx-2"
            >
            Help
        </div>
        <div class="roboto-16   mt-2">
            <img src="../../static/img/sidebar-icons/feedback.png" class="mr-2"
            >
            Feedback
        </div>
        <div class="roboto-16   mt-2">
            <img src="../../static/img/sidebar-icons/version.png" class="mr-2"
            >
            Version
        </div>
    </div>
</div>