<div class="modal-content p-4">
    <div class="roboto-24 font-weight-bold">
        <img src="../../static/img/repository-icons/warning.png"/>
        Deactivate User?
    </div>
    <div class="ml-5">
        You are about to deactivate a user. This action cannot be undone. Continue?
    </div>
    <div class="d-flex ml-auto mr-0 mt-4">
        <button class="button-white mr-2" data-dismiss="modal"> Cancel </button>
        <button  class="button-red"> Deactivate </button>
    </div>
</div>