<div class="modal-content p-4">
    <div class="roboto-24 font-weight-bold">
        <img src="../../static/img/repository-icons/warning.png"/>
        Unmap from sheet?
    </div>
    <div class="ml-5">
        You are about to unmap this form from the current inventory sheet.This action cannot be undone. Continue?
    </div>
    <div class="d-flex ml-auto mr-0 mt-4">
        <button class="button-white mr-2" data-dismiss="modal"> Cancel </button>
        <button  class="button-red confirm-all-modal"> Unmap </button>
    </div>
</div>