<div class="modal-content p-4">
    <div class="roboto-24 font-weight-bold">
        Creating User
    </div>
    <div >
        You are about to create a new user. Continue?
    </div>
    <div class="d-flex ml-auto mr-0 mt-4">
        <button class="button-white mr-2" data-dismiss="modal" > Cancel </button>
        <button  class="button-red confirm-all-modal" data-toggle="modal" data-target="#prompt_donecreateuser"> Add </button>
        <div class="modal fade close-all-modal" id="prompt_donecreateuser" tabindex="-1" role="dialog" aria-labelledby="prompt_donecreateuserlabel" aria-hidden="true">
            <div class="modal-dialog modal-xs modal-dialog-centered " role="document">    
                {% include '../prompts/prompt_donecreateuser.html' %}
            </div>
        </div>
    </div>
</div>