<div class="modal-content p-4 wider-prompt">
    <div class="roboto-24 font-weight-bold">
        Changing Password
    </div>
    <div >
        You are about to change the user's password. Continue?
    </div>
    <div class="d-flex ml-auto mr-0 mt-4">
        <!-- <button  class="button-red confirm-all-modal" data-toggle="modal" data-target="#prompt_donechangepassword"> Confirm </button> -->
        <button  class="button-red" id="btn-change-pass"> Confirm </button>
        <button class="button-white ml-2" id="btn-change-pass-cancel"> Cancel </button>
    </div>
</div>

<div class="modal fade close-all-modal" id="prompt_donechangepassword" tabindex="-1" role="dialog" aria-labelledby="prompt_donechangepasswordlabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">    
        {% include '../prompts/prompt_donechangepassword.html' %}
    </div>
</div>